<html xmlns="http://www.thymeleaf.org">

<body>
	<fieldset>
		<legend>message</legend>
		<table>
			<tr th:each="m:${message}">
				<td th:text="${m.userId}">
				<td th:text="${m.lineText}">
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>send</legend>
		<form th:action="@{/chatRoom/seedMessage(studentId=${studentId})}" th:object="${chat}" method="post">
			<textarea th:field="*{lineText}"></textarea>
			<input type="submit" value="发送">
		</form>
	</fieldset>
	<a th:href="@{/studentIndex/{studentId}(studentId=${studentId})}">返回主页</a>
</body>

</html>
