<html xmlns="http://www.thymeleaf.org">

<body>
	<h1>刷题情况截图</h1>

	<fieldset>
		<legend>上传截图</legend>
		<fieldset>
			<legend>截图1</legend>
			<img th:src="@{'data:image/png;base64,' + ${base64Photo1}}">

			<form th:action="@{/emage/upload1(url=${url},account=${account},id=${studentId})}" enctype="multipart/form-data"
				method="post">
				<input type="file" name="image" required>

				<p />
				<input type="submit" value="修改">
			</form>
		</fieldset>
		<fieldset>
			<legend>截图2</legend>
			<img th:src="@{'data:image/png;base64,' + ${base64Photo2}}">

			<form th:action="@{/emage/upload2(url=${url},account=${account},id=${studentId})}" enctype="multipart/form-data"
				method="post">
				<input type="file" name="image" required>

				<p />
				<input type="submit" value="修改">
			</form>

		</fieldset>
		<fieldset>
			<legend>截图3</legend>
			<img th:src="@{'data:image/png;base64,' + ${base64Photo3}}">

			<form th:action="@{/emage/upload3(url=${url},account=${account},id=${studentId})}" enctype="multipart/form-data"
				method="post">
				<input type="file" name="image" required>

				<p />
				<input type="submit" value="修改">
			</form>

		</fieldset>
		<fieldset>
			<legend>截图4</legend>
			<img th:src="@{'data:image/png;base64,' + ${base64Photo4}}">

			<form th:action="@{/emage/upload4(url=${url},account=${account},id=${studentId})}" enctype="multipart/form-data"
				method="post">
				<input type="file" name="image" required>

				<p />
				<input type="submit" value="修改">
			</form>

		</fieldset>

		<fieldset>
			<legend>截图5</legend>
			<img th:src="@{'data:image/png;base64,' + ${base64Photo5}}">

			<form th:action="@{/emage/upload5(url=${url},account=${account},id=${studentId})}" enctype="multipart/form-data"
				method="post">
				<input type="file" name="image" required>

				<p />
				<input type="submit" value="修改">
			</form>

		</fieldset>


	</fieldset>
	<a th:href="@{/studentDoExerciseInfo/{studentId}(studentId=${studentId})}">返回</a>
</body>

</html>
