<html xmlns="http://www.thymeleaf.org">
<style>
	.passWdError {
		color: red;
	}

	.upPWSuccess {
		color: green;
	}

</style>

<body>
	<h1>学生个人主页</h1>
	<fieldset>
		<fieldset>
			<legend>search</legend>
			<table>
				<tr>
					<th>学号</th>
					<th>姓名</th>
					<th>修改姓名</th>
					<th>学院</th>
					<th>系</th>
					<th>班级</th>
				</tr>
				<tr th:each="s:${studentInfo}">
					<td th:text="${s.studentId}">
					<td th:text="${s.studentName}">
					<td>
						<form th:action="@{/personalInfo/updateName(studentId=${studentId})}" th:object="${loginInfo}"
							method="post">
							<input type="text" placeholder="修改姓名" th:field="*{studentName}" required>
							<input type="submit" value="修改">
						</form>
					</td>
					<td th:text=" ${s.college}">
					<td th:text="${s.faculty}">
					<td th:text="${s.clazz}">
				</tr>
			</table>
		</fieldset>
		<div class="passWdError">
			<span th:if="${originalError}" th:text="${originalError}"></span>
			<span th:if="${confirmError}" th:text="${confirmError}"></span>
		</div>
		<div class="upPWSuccess">
			<span th:if="${updatePWSuccess}" th:text="${updatePWSuccess}"></span>
		</div>
		<fieldset>
			<legend>updatePassWord</legend>
			<form th:action="@{/personalInfo/updatePassWord(studentId=${studentId})}" th:object="${passWord}" method="post">
				<input type="password" placeholder="原密码" th:field="*{originalPassWord}" required>
				<p />
				<input type="password" placeholder="新密码" th:field="*{newPassWord}" required>
				<p />
				<input type="password" placeholder="确认新密码" th:field="*{confirmNew}" required>
				<p />
				<input type="submit" value="提交">

			</form>
		</fieldset>

	</fieldset>
	<a th:href="@{/studentIndex/{studentId}(studentId=${studentId})}">返回主页</a>
</body>

</html>
