<html xmlns="http://www.thymeleaf.org">


<body>
	<h1>学生个人页面</h1>
	<fieldset>
		<fieldset>
			<legend>
				个人信息
			</legend>
			<a th:href="@{/personalInfo/{studentId}(studentId=${studentId})}">查看学生个人信息</a>
		</fieldset>
		<fieldset>
			<legend>
				个人刷题信息
			</legend>
			<a th:href="@{/studentDoExerciseInfo/{studentId}(studentId=${studentId})}">个人刷题信息</a>
		</fieldset>
		<fieldset>
			<legend>
				老师公告
			</legend>
		</fieldset>
		<fieldset>
			<legend>
				看看同窗的进度
			</legend>
			<a th:href="@{/chatRoom/{studentId}(studentId=${studentId})}">在线交流</a>
			<p />

		</fieldset>
	</fieldset>

</body>

</html>
